<h1>{{user.name}}</h1>
<div class="row row-cols-1 row-cols-md-2">
    {{#if blog}}
        {{#each blog}}
            <div class="col mb-4">
                <div class="card">
                    {{#if image}}
                        <img src="/images/{{image}}" class="card-img-top" alt="...">
                    {{else}}

                    {{/if}}
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <p class="card-text">{{body}}</p>
                        <p class="card-text"><small class="text-muted">{{status}} {{dateFormat createdAt "dddd h:mm a DD/MM/YYYY"}}</small></p>
                        <a href="/me/blog/{{_id}}/edit" class="btn btn-primary">Sửa</a>
                        <a class="btn btn-danger" data-id="{{_id}}" data-toggle="modal" data-target="#deleteModal">Xoá</a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}} 
        <p>Bạn chưa tạo bài blog nào. <a href="/me/blog/create"> Tạo ngay ở đây</a></p>
    {{/if}}
</div>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xoá bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hành động này không thể khôi phục! Bạn có chắc chắn muốn xoá?
      </div>
      <div class="modal-footer">
        <button id="btn-delete" type="button" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form name="deleteForm" method="POST" ></form>

<script>

    document.addEventListener('DOMContentLoaded', function() {
        var blogID
        var deleteForm = document.forms['deleteForm']
        var btnDelete = document.getElementById('btn-delete')

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            blogID = button.data('id') 
        })

        btnDelete.onclick = () => {
            deleteForm.action = '/me/blog/'+ blogID + '?_method=DELETE'
            deleteForm.submit()
        }

    })
</script>